*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.nav-top{ 
    display: flex; 
    align-items: center;
    border:#06652e solid 1px;
    justify-items: space-around;
}
ul{
  display: flex;
  list-style: none;
  gap:5px;
}
a{
  font-size: 18px;
  text-decoration: none;
}
.botao-cta{
    padding: 5px;
    margin: 5px;
    border: solid 1px blue;
    border-radius: 10px 30px 10px 30px;
    box-shadow: 4px 6px 0px black;
}
.botao-cta:hover{
    background-color: #d1ee50a1;   
    height: 30px;
    border: solid 3px orange;
    border-radius: 10px;

}
.botao-cta:active{
    box-shadow: 4px 6px 0px black;
    
}
main{
    border: solid 2px rgb(168, 14, 230);
    max-width: 1200px;
    margin: 0 auto;
}
section{
    height: auto;
    border: solid 3px green;
    background-color: #50c9ee;
}
/* Aqui é um CLASSE */
.container-cards{ 
    width: 100%; 
    display: grid; 
    /*                   três colunas de pixels
    grid-template-columns: 200px 100px 200px;
                           três colunas com frações como espaçamento
    grid-template-columns: 1fr 2fr 1fr;
                            colunas repetidas por quantidade e tamanhos
    grid-template-columns: repeat(2, 21fr);
    */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center; 

    }   
.card{
    margin: 10px;
    padding: 20px;
    border: dashed 2px black;
    background-color: yellow;
    width: 250px;
    height: auto; 
    border-radius: 10px 30px 10px 30px;
    box-shadow: 4px 6px 0px green
}

.titulo{
    font-size: 20px;
    color: #06652e;
    padding: 10px;
}
.card-img{
    width: auto;
    height: auto;
    margin: 5px auto;
    border: solid 2px black;
}
.logo{
    width: 100px;
    height: auto;
    margin: 0px auto;
    border: solid 2px purple;
    border-radius: 10px 30px 10px 30px;
}
    
/* Aqui é um ID */
#botao-cancelar{
    width: 300px;
    background-color: red;
}