*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
main{
    border: solid 2px rgb(168, 14, 230);
    max-width: 1200px;
    margin: 0 auto;
}
section{
    height: auto;
    border: solid 3px green;
    background-color: #50c9ee;
}
/* Aqui é um CLASSE */
.container-cards{ 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

    }   
.card{
    margin: 10px;
    padding: 20px;
    border: dashed 2px black;
    background-color: yellow;
    width: 250px;
    height: auto; 

}
.titulo{
    font-size: 20px;
    color: #06652e;
    padding: 10px;
}
.card-img{
    width: auto;
    height: auto;
    margin: 5px auto;
    border: solid 2px black;

}
/* Aqui é um ID */
#botao-cancelar{
    width: 300px;
    background-color: red;
}